body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-left {
    font-size: 20px;
}

.top-bar-right {
    display: flex;
    align-items: center;
}

.top-bar-link {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.top-bar-link:hover {
    text-decoration: underline;
}

.top-bar-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: start;
    align-items: start;
    max-width: 2500px; 
    margin: 0 auto; 
    min-width: 300px; 
}

.activity-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #333;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .activity-grid {
        grid-template-columns: 1fr;
    }
}

/* Add these styles to your existing CSS file */
#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#chat-window {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    height: 400px;
    flex-direction: column;
    border: 1px solid #ddd;
    background: white;
    border-radius: 10px;
    overflow: hidden; /* Ensures no overflow outside the chat window */
}

#chat-messages-container {
    flex-grow: 1;
    overflow-y: auto; /* Makes this part scrollable */
}

.chat-message {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

#chat-input-container {
    display: flex;
    padding: 10px;
    background: #f1f1f1;
    border-top: 1px solid #ddd; /* Optional: adds a line between the chat and input area */
}

#chat-input {
    flex-grow: 1;
    margin-right: 10px; /* Spacing between input and send button */
}

button {
    padding: 5px 10px; /* Adjust padding as needed */
}

.hiddenCtrl-hide {
    display: none;
}

.hiddenCtrl-show {
    display: flex;
}

